.top1-bar {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--base-clr);
    border-bottom: 1px solid var(--line-clr);
    gap: 20px;
    
    height: 50px; /* Fixed height */
    width: calc(100% - 200px); /* Subtract sidebar width */
    position: fixed;
    top: 0;
    left: 200px; /* Start after sidebar */
    z-index: 1000;
    transition: left 300ms ease-in-out, width 300ms ease-in-out;
}

.top1-bar h2 {
    font-size: 2rem;
    color: var(--text-clr);
    font-weight: 600;
    margin: 0;
    flex-grow: 1;
  }
  
#sidebar.close + .top1-bar {
    width: calc(100% - 60px);
    left: 60px;
}

.profile {
    display: flex;
    align-items: center;
    margin-right: 35px; 
    overflow: hidden; 
}

.main-container {
    display: flex;
    height: 100%;
    width: 100%;
}




#messages-container {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-height: 100%;
    background-color: var(--text-clr);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 70px; 
    overflow-y: auto;
}

.message-box {
    height: 75px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-left: 5px solid transparent; /* Default border */
    transition: 0.3s ease-in-out;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

/* Date styling */
.message-date {
    font-size: 14px;
    color: #777;
}

/* Message content */
.message-content {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 5px;
}


.empty-content {
    font-size: 22px;
    font-weight: bold;
    color: var(--accent-clr);
    margin-top: 23px;
    text-align: center;
    vertical-align: middle;
}